html, body{
	font-family: 'Open Sans', sans-serif;
	color:#000;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #fafafa;
	overflow: scroll;
}

/*---- Main Navigation ----*/
.navbar-default.coke-main-nav{
	border-radius:0px;
	background-color:#fefefe;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.coke-main-nav .container .navbar-header .navbar-brand img{
	height:45px;
	margin-top:-10px;
}
.coke-main-nav .navbar-right > li > a {
    color: #555;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.coke-main-nav .navbar-nav.navbar-right > li > a:hover,
.coke-main-nav .navbar-nav.navbar-right > li > a:focus{
	color:#E50000;
}

/*-------- Content --------*/
/* Background Image */
.home-bg{
	content: "";
	position: fixed;
	width: 100%;
	top: 52px;
	left: 0px;
	height: 600px;
	background: url("../img/office-meeting1.jpg") no-repeat scroll 50% top;
	background-size: cover;
	z-index: 0;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}
.home-default{
	position: relative;
	color: #fff;
	height: 615px;
	margin-top: 50px;
}
.home-default .container{
	padding-top:160px;
}
.home-default .container h1{
	text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}
.home-default .container p{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	font-size:15px;
}

/* Footer Section */
.footer{
	position: relative;
	background-color: #aaa;
	padding:10px;
	font-size:12px;
	color:#fff;
}
.footer p{
	margin:0px;
	padding:0px;
}

/* General Re-usable Classes */
.home-modal{

}
.red-input{
	border-color:#c12;
}

/*--- Media Queries --*/
/* Small Devices (Phones) */
@media (max-width: 767px) {
}
/* Tablet sized screens (768px and up) */
@media (max-width: 992px) {

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}